* {
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.container_login {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.form_login {
    min-width: 40%;
    max-width: 60%;
    height: 500px;
    border-radius: 15px;
    box-shadow: 2px 2px 20px rgb(156, 156, 156);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.form_login label {
    font-size: 1.5rem;
}

.form_login .container_campos {
    width: 100%;
}

.form_login input {
    width: 100%;
    border: 1.5px solid black;
    border-radius: 15px;
    padding: 7px 20px;
    font-size: 1.2rem;
}


.form_login .btn_form {
    width: 100%;
    border: none;
    border-radius: 7px;
    background-color: rgb(37, 39, 41);
    color: #fff;
    padding: 5px;
    font-size: 1.4rem;
    cursor: pointer;
    text-decoration: none;
}

.container_opcoes_login {
    width: 100%;
    height: 40px;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_opcoes_login {
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    font-family: sans-serif;
    cursor: pointer;
}

.select_option {

    width: 100%;
    background-color: #efefef;
    padding: 10px;
    border-radius: 7px;
    border: 1.5px solid black;
    font-size: 1.2rem;
    font-family: sans-serif;
}